.join__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  background: #d5f3de80;
}
.join__cont > h2 {
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-mont);
}

.join_img {
  width: 30%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.join_img > img {
  width: 50%;
}

.join-text {
  
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
}
.join-text > span {
  color: var(--color-black);
  display: block;
  font-size: var(--font-inter);
  font-weight: 500;
}

.join-btn {
  width: 11rem;
  height: 3rem;
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-inter);
  font-weight: 400;
  border-radius: 2.5rem;
  font-weight: 700;
  background: var(--color-primary);
  cursor: pointer;
  margin: 2rem 0 5rem 0;
}

.join-btn > a {
  color: var(--color-bg-btn);
}
